.container{
   background-color: rgb(217, 214, 219);
   min-height: 100vh;
   width: 100vw;
   display: flex;
   align-items: flex-start;
   justify-content: center;
}
.todo-container{
  background-color: #646f7c;
  border-radius: 8px;
  margin: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
 padding: 20px;
 padding-left: 0px;
}
h1{
  color: white;
  font-weight: 700;
  text-align: center;
}
.input{
  height: 35px;
  width: 20rem;
  border-radius: 8px;
  border: none;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
  margin-left: 40px;
}
.button{
  background-color: #7f89d1;
  width: 8rem;
  border: none;
  height: 35px;
  padding: 8px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 40px;
  cursor: pointer;
}
.item{
  list-style-type: none;
  color: white;
  font-weight: 500;
}
.listitems{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8892dc;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
  padding-left: 10px;
  max-height: 60%;
  overflow-y: auto;
  scrollbar-width: 0px;
}
.pencil{
  font-weight: 700;
  color: rgb(246, 249, 249);
  cursor: pointer;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.cross{
  color: red;
  font-weight: 700;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}